section.about 
	.container 
		+blockBox("What we do", "Story about us", "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime praesentium fuga ipsum nihil aliquam odit illum voluptatem nobis excepturi obcaecati, pariatur, necessitatibus repudiandae distinctio dolores autem beatae magni ea at?")
		.about-list 
			+aboutItem("images/img-about1.png", "fa fa-user", "Super team")
			+aboutItem("images/img-about2.png", "fa fa-user", "Super team")
			+aboutItem("images/img-about3.png", "fa fa-user", "Super team")