footer.footer 
  .container
    .footer-top 
      .footer-column 
        a(href="index.html").footer-heading.footer-heading--logo MoGo 
        p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi unde numquam dolorem pariatur facilis officiis quisquam tempore, mollitia minus perspiciatis laudantium ullam adipisci incidunt aliquam, doloremque, ducimus natus qui.
        p.footer-follower <span>15k</span> follwers 
        .footer-social 
          span.text Follow us
          .footer-social-list 
            a.footer-social-link(href="#") 
              i.fab.fa-facebook-f.footer-social-icon
            a.footer-social-link(href="#") 
              i.fab.fa-twitter.footer-social-icon
            a.footer-social-link(href="#") 
              i.fab.fa-instagram.footer-social-icon
            a.footer-social-link(href="#") 
              i.fab.fa-pinterest.footer-social-icon
        form.footer-form(action="") 
          input.footer-form-input.text(type="email" placeholder="Your email")
          button.footer-form-button Subcribe
      .footer-column 
        h3.footer-heading Blogs 
        a(href="#").footer-blog 
          img.footer-blog-img(src="https://images.unsplash.com/photo-1637966496285-ea1f91852c2b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", alt="")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit, amet consectetur adipisicing.
            span.footer-blog-date.text Jan 9, 2016
            
        a(href="#").footer-blog 
          img.footer-blog-img(src="https://images.unsplash.com/photo-1637958654193-816fa4636b0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80", alt="")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit, amet consectetur adipisicing.
            span.footer-blog-date.text Jan 9, 2016
        a(href="#").footer-blog 
          img.footer-blog-img(src="https://images.unsplash.com/photo-1633113211821-6ac9c3d160a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit, amet consectetur adipisicing.
            span.footer-blog-date.text Jan 9, 2016
      .footer-column 
        .footer-heading Instagram 
        .footer-insta-list  
          .footer-insta-item
            img.footer-insta-img(src="https://images.unsplash.com/photo-1633114073758-c4be9aeb15ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="alt") 
          .footer-insta-item
            img.footer-insta-img(src="https://images.unsplash.com/photo-1633114073758-c4be9aeb15ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="alt") 
          .footer-insta-item
            img.footer-insta-img(src="https://images.unsplash.com/photo-1633114073758-c4be9aeb15ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="alt") 
          .footer-insta-item
            img.footer-insta-img(src="https://images.unsplash.com/photo-1633114073758-c4be9aeb15ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="alt") 
          .footer-insta-item
            img.footer-insta-img(src="https://images.unsplash.com/photo-1633114073758-c4be9aeb15ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="alt") 
          .footer-insta-item
            img.footer-insta-img(src="https://images.unsplash.com/photo-1633114073758-c4be9aeb15ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="alt") 
          .footer-insta-item
            img.footer-insta-img(src="https://images.unsplash.com/photo-1633114073758-c4be9aeb15ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="alt") 
          .footer-insta-item
            img.footer-insta-img(src="https://images.unsplash.com/photo-1633114073758-c4be9aeb15ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="alt") 
          .footer-insta-item
            img.footer-insta-img(src="https://images.unsplash.com/photo-1633114073758-c4be9aeb15ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", alt="alt") 
        a(href="#").footer-insta-more.text View more photos
    .footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>