section.service 
  .container 
    +blockBox("We work with", "Amazing service")
    .service-container 
      .service-list 
        +serviceItem("images/img-service-icon1.png", "service img", "Photography", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.")
        +serviceItem("images/img-service-icon2.png", "service img", "Web Design", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.")
        +serviceItem("images/img-service-icon3.png", "service img", "Creativity", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.")
      .service-list 
        +serviceItem("images/img-service-icon4.png", "service img", "Seo", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.")
        +serviceItem("images/img-service-icon5.png", "service img", "CSS/HTML", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.")
        +serviceItem("images/img-service-icon6.png", "service img", "Digital", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.")