section.team 
  .container 
    +blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .team-list 
      +teamItem("images/img-team1.png", "Matthew Dix", "Graphic design")
        +teamSocial("#f", "#tw", "#pin", "#ins")
      +teamItem("images/img-team2.png", "Christopher Cambell", "Branding/UX Design")
        +teamSocial("#f", "#tw", "#pin", "#ins")
      +teamItem("images/img-team3.png", "Micheal Fertig", "Developer")
        +teamSocial("#f", "#tw", "#pin", "#ins")

section.brand 
  .container 
    img(src="images/img-logos.png", alt="logo")