section.work 
  .container 
    +blockBox("What we do", "Some of our work", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
  .work-list 
    .work-column 
      .work-item 
        img(src="images/img-work1.png" alt="work img").work-img
        .work-content 
          i.fa.fa-home.work-icon 
          h4.work-title Creatively designed 
          span.work-desc.text Lorem, ipsum dolor sit    
      .work-item 
        img(src="images/img-work2.png" alt="work img").work-img
        .work-content 
          i.fa.fa-home.work-icon 
          h4.work-title Creatively designed 
          span.work-desc.text Lorem, ipsum dolor sit
    .work-column 
      .work-item 
        img(src="images/img-work3.png" alt="work img").work-img
        .work-content 
          i.fa.fa-home.work-icon 
          h4.work-title Creatively designed 
          span.work-desc.text Lorem, ipsum dolor sit    
      .work-item 
        img(src="images/img-work4.png" alt="work img").work-img
        .work-content 
          i.fa.fa-home.work-icon 
          h4.work-title Creatively designed 
          span.work-desc.text Lorem, ipsum dolor sit
    .work-column 
      .work-item.work-item--full
        img(src="images/img-work5.png" alt="work img").work-img
        .work-content 
          i.fa.fa-home.work-icon 
          h4.work-title Creatively designed 
          span.work-desc.text Lorem, ipsum dolor sit    
    .work-column 
      .work-item 
        img(src="images/img-work6.png" alt="work img").work-img
        .work-content 
          i.fa.fa-home.work-icon 
          h4.work-title Creatively designed 
          span.work-desc.text Lorem, ipsum dolor sit    
      .work-item 
        img(src="images/img-work7.png" alt="work img").work-img
        .work-content 
          i.fa.fa-home.work-icon 
          h4.work-title Creatively designed 
          span.work-desc.text Lorem, ipsum dolor sit
