.device{
  padding-top: 11rem;
  background: linear-gradient(to bottom, rgba(white, 0.7), rgba(white, 0.6)), url("../images/img-device-bg.png") no-repeat center / cover;
  &-media{
    text-align: center;
  }
  &-img{
    margin: 1.5rem auto -9.3rem;
    display: inline-block;
    // transform: translateY(9rem);
  }
  @include maxWidth(768px){
    padding-top: 5rem;
    &-img{
      max-width: 80%;
      margin-bottom: -4.6rem;
    }
  }
  @include maxWidth(413px){
    &-img{
      margin-bottom: -4.2rem;
    }
  }
  @include maxWidth(374px){
    &-img{
      margin-bottom: -3.5rem;
    }
  }

}