.work {
  padding-top: 11rem;
  &-list {
    @include flexbox;
    height: 78rem;
  }
  &-column {
    width: 25%;
  }
  &-item {
    height: 50%;
  }
  &-item--full {
    height: 100%;
  }
  &-img {
    @include size(100%);
    object-fit: cover;
  }
  &-content {
    color: #fff;
    padding: 1.5rem;
    text-align: center;
  }
  &-icon {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  &-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.6rem;
    @include textClamp;
  }
  &-desc {
    line-height: 1.6rem;
    @include textClamp;
  }

  @include maxWidth(1600px) {
    &-list {
      height: 60rem;
    }
  }
  @include maxWidth(1439px) {
    &-list {
      height: 48rem;
    }
  }
  @include maxWidth(1023px) {
    &-list {
      flex-wrap: wrap;
      overflow: hidden;
      height: auto;
    }
    &-column {
      width: 50%;
    }
    &-item {
      height: 32rem;
    }
    &-item--full {
      height: 64rem;
    }
  }
  @include maxWidth(767px){
    padding-top: 5rem;
    &-column {
      width: 100%;
    }
  }
}
@include hoverEffect(".work-item", ".work-content", "false");
